<template>
	<div class="game">
		<div class="match">
			<div class="player" v-if="this.player">Player: {{ player.name }}</div>
			<div class="score" v-if="this.score">Score: {{ score }}</div>
		</div>
		<div class="board">
			<div class="column" v-for="(column, cIndex) in board" :key="cIndex">
				<div class="space" v-for="(space, sIndex) in column" :key="sIndex" @click="executeMove(cIndex, sIndex)">
					<p>{{ space }}</p>
				</div>
			</div>
		</div>
		<button @click="startMatch('henk')">Start</button>
	</div>
</template>

<script>
import axios from "axios";

export default {
	name: "Game",
	data: function() {
		return {
			player: undefined,
			score: undefined,
			board: [
				["", "", ""],
				["", "", ""],
				["", "", ""]
			]
		};
	},
	created() {
		this.getEventData(); // NEW - call getEventData() when the instance is created
	},
	methods: {
		async getEventData() {
			this.$set(this, "event", event);
		},
		async startMatch(playerName) {
			axios
				.post("http://localhost:8090/startMatch", {
					playerName: playerName,
					isPieceO: false
				})
				.then(response => {
					console.log(response);
					this.player = response.data;
				});
		},
		async executeMove(column, row) {
			
			axios
				.post("http://localhost:8090/executeTurn", {
					column: column,
					row: row
				})
				.then(response => {
					this.board = response.data.board;
					this.score = response.data.score;
					
					const status = response.data.matchStatus;
					if (status === "PLAYER_WON") {
						//player won
					} else if (status === "COMPUTER_WON") {
						//comp won
					} else if (status === "DRAW") {
						//draw
					}
				});
			// this.$forceUpdate(); // brute force
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main .game {
	width: 40%;
	margin: 0 auto;
	margin-top: 8rem;
	display: flex;
	align-content: center;
	flex-flow: column nowrap;
}

.game .match {
	display: flex;
	margin-bottom: 0.5rem;
}

.match > * {
	padding-right: 1rem;
}

.game .board {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	padding: 0.15rem;
	margin: 0 auto;
	background-color: rgb(90, 90, 90);
	color: white;
	font-size: 25px;
	font-weight: 00;
}

.board .column {
	display: flex;
	flex-flow: column nowrap;
	background-color: rgb(90, 90, 90);
}

.board .space {
	width: 4rem;
	height: 4rem;
	margin: 0.3rem;
	background-color: whitesmoke;

	font-size: 40px;
	color: black;
	text-align: center;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}
</style>
