<template>
  <header>
    <h2>Play Tic-Tac-Toe!</h2>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
header {
  width: 100%;
	height: 4rem;
	padding: 0 4rem;
	display: flex;
	align-items: center;
	background-color:#33adff;
}

header h2 {
	color: whitesmoke;
	font-size: 25px;
	font-weight: 00;
}
</style>
