/* eslint-disable */
<template>
	<div class="leaderboard">
		<table cellspacing="0" cellpadding="0">
			<tr class="head">
				<th>Leaderboard</th>
				<th></th>
			</tr>
			<tr class="data" v-for="(score, index) in scores" :key="index">
				<td>{{ score.player.name }}</td>
				<td>{{ score.value }}</td>
			</tr>
		</table>
	</div>
</template>

<script>
import axios from "axios"

export default {
	name: "Leaderboard",
	props: {
		msg: String
	},
	data: function() {
		return {
			scores: [
				{
					player: {
						name: "schenk",
						piece: "o"
					},
					value: 365912
				},
				{
					player: {
						name: "denk",
						piece: "o"
					},
					value: 246985
				},
				{
					player: {
						name: "menk",
						piece: "o"
					},
					value: 164825
				},
				{
					player: {
						name: "henk",
						piece: "o"
					},
					value: 110728
				},
			]
		};
	},
	methods: {
		async getLeaderboard() {
			axios.get("localhost:8090/leaderboard")
			.then(response => {
				console.log(response);
			})
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.leaderboard {
	margin: 15% 2rem;
}

table td, table th {
	padding: .3rem .5rem;
	text-align: left;
}

table th {
	background-color: hsl(209, 87%, 49%);
	border-bottom: 1px solid hsl(0, 0%, 23%);
	font-size: 25px;
	color:hsl(0, 0%, 97%);
	font-weight: 500;
}

table td {
	font-size: 20px;
	color:hsl(0, 0%, 97%);
	font-weight: 500;
}

table tr:nth-child(odd) {
	background-color: hsl(209, 100%, 70%);
}

table tr:nth-child(even) {
	background-color: hsl(209, 98%, 62%);
}
</style>
