<template>
  <div id="app">
    <Header></Header>
    <div class="main">
      <Game></Game>
      <Leaderboard></Leaderboard>
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Game from './components/Game.vue';
import Leaderboard from './components/Leaderboard.vue';

export default {
  name: 'App',
  components: {
    Header,
    Game,
    Leaderboard
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}

html {
	font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.main .game {
  width: 75%;
}

.main .leaderboard {
  width: 25%;
}
</style>
